.a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.a .b {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}

.a .b .c{
   
    border: 3px solid #fff;
    margin-bottom: 50px;
    padding: 10px;
    display: inline-block;  
    min-width: 450px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
     -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.uname {
    font-weight: bold;
}

.udetails{
    text-shadow: rgb(0, 0, 0);
}
